@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #00bf63;
  --radius: 3px;
}

body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif; /* Change the font-family to Montserrat */
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--accent-color);
}

main {
  width: 1000px;
}

form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  color:white
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

#payment-form {
  border: #ffffff solid 1px;
  border-width: 2px;
  border-radius: 10px; /* Set the border radius to 10px for rounded edges */
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
  background-color: var(--accent-color); /* Set the background color to white */
}

#messages {
  font-family: 'Montserrat', sans-serif; /* Change the font-family to Montserrat */
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

#submit {
  background-color: rgb(0, 123, 255);
}

